<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script type="text/javascript" data-originalsrc="cordova.js">
      try{
        var isPhoneGap = (document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1);
        if( isPhoneGap ) {
          var fileref=document.createElement('script')
          fileref.setAttribute("type","text/javascript")
          fileref.setAttribute("src", 'cordova.js');
          document.getElementsByTagName("head")[0].appendChild(fileref)
        }
      }catch(e){
        console.error("failed loading cordova.js with error: " + e);
      }
    </script>

    <!-- libraries -->
    <script src="lib/socket.io-client/socket.io.js"></script>
    <script src="lib/angular-socket-io/socket.min.js"></script>
    <script src="js/app.js"></script>


    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar ng-class="{'bar-balanced':connected,'bar-assertive':!connected}" class="bar-stable">
      <h1 class="title">Robot <i ng-class="{'ion-ios7-lightbulb':connected,'ion-ios7-lightbulb-outline':!connected}" class=""></i></h1>
      </ion-header-bar>
      <ion-content>
        

          
        <div class="row controller" >
          
          <div id="controlpad" control-pad>

            <table>
              <tr>
                <td><!-- <button>Top-Left</button> --></td>
                <td></td>
                <td></td>
                <td></td>
                <td><!-- <button>Top-Right</button> --></td>
              </tr>
              <tr>
                <td></td>
                <td><button id="fl" class="button" enter="fl" release="ss"  ><i class="ion-android-arrow-up-left"></i></button></td>
                <td><button id="f" class="button"  enter="f" release="ss" ><i class="ion-arrow-up-a"></i></button></td>
                <td><button id="fr" class="button"  enter="fr" release="ss" ><i class="ion-android-arrow-up-right"></i></button></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><button id="l" class="button"  enter="l" release="ss" ><i class="ion-arrow-left-a"></i></button></td>
                <td><button id="s" class="button"  enter="hs" release="ss" ><i class="ion-stop"></i></button></td>
                <td><button id="r" class="button"  enter="r" release="ss" ><i class="ion-arrow-right-a"></i></button></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><button id="bl" class="button"  enter="bl" release="ss" ><i class="ion-android-arrow-down-left"></i></button></td>
                <td><button id="b" class="button"  enter="b" release="ss" ><i class="ion-arrow-down-a"></i></button></td>
                <td><button id="br" class="button"  enter="br" release="ss" ><i class="ion-android-arrow-down-right"></i></button></td>
                <td></td>
              </tr>

              <tr>
                <td><!-- <button>Bottom-Left</button> --></td>
                <td></td>
                <td></td>
                <td></td>
                <td><!-- <button>Bottom-Right</button> --></td>
              </tr>
            </table>
            <div ng-init="mode=2" class="button-bar">
              <a ng-class="{'active':mode==1}" ng-click="mode=1" class="button">Low </a>
              <a ng-class="{'active':mode==2}" ng-click="mode=2" class="button">Medium</a>
              <a ng-class="{'active':mode==3}" ng-click="mode=3" class="button">High</a>
            </div>

          </div>
          <!-- <div class="col btncol">        
            <button ng-click="leftPlus()" on-hold="leftPlus(true)" style="" class="button button-stable">+</button>
            <input type="text" ng-model="left">
            <button ng-click="leftMinus()" style="" class="button button-stable">-</button>
          </div>
          <div class="col">
            <div class="range">
              <input type="range" ng-model="left" class="rangeslider" name="volume">
            </div>    
          </div>
          <div class="col">
            <div class=" range range-positive">
              <input type="range" ng-model="right" class="rangeslider"  name="volume" min="0" max="100" value="33">
            </div>
          </div>
          <div class="col btncol">
            <button ng-click="rightPlus()" style="" class="button button-stable">+</button>
            <input type="text" ng-model="right">
            <button ng-click="rightMinus()" style="" class="button button-stable">-</button>
          </div>
        </div> -->
        
        <!-- <button id="id1"  dipesh>Button</button> -->


      </ion-content>
    </ion-pane>
  </body>
</html>
