@font-face {
	font-family: 'digi';
	src: url('DS-DIGII.TTF');
}

button{
	
}



#controlpad{
	margin:0 auto;
}

#controlpad td {padding:7px;}

#controlpad button {
	padding:7px;
	width:80px;
	height: 80px;
	
}

#controlpad button.activated{
	color: blue;
	background: #ccc;
}

.controller{
	margin:10px;overflow: hidden;
}
.controller button{
	display:block;
}
.range{
	position:relative;
	vertical-align: bottom;
	margin-top:50px;
	height:200px;
	padding:0;
	-webkit-appearance: none;
}
/*input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    
}*/
.range input{
	-webkit-transform:rotate(270deg);
	/*position: absolute;
	z-index: 999;
	bottom: 0;
	left: 50%;
	margin-bottom: 55px;
	margin-left: -109px;
	*/
	display: block;
	width: 218px;
	height: 110px;
	
}

input {
	font-family: 'digi';
	text-align: center;
}


.btncol{margin-top:80px;}